/node_modules
/validators.js
/.eslintrc.js
/server/node_modules
/server/validators.js
/package4.json
/server/battleground.js
/server/config/config.js
/server/.env
.env
/server/middleware/helper.js
/server/routes
/clientxx