html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

section {
  margin-top: 50px;
  &:last-of-type {
    margin-bottom: 50px;
  }
}

a {
  color: $black;
  &:hover {
    color: black;
    text-decoration: none;
  }
}