html {
  font-size: 62.5%;
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: $m-size;
  margin: 0 0 100px;
  padding: 0;
  background: url('https://res.cloudinary.com/emasys/image/upload/v1514493161/bgp.fw_cnwm3q.png') center center;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

section {
  margin-top: 50px;
  &:last-of-type {
    margin-bottom: 50px;
  }
}

a {
  color: $black;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}