// Colors
$black: rgb(15, 12, 1);
$white: white;
$light_green: rgb(141, 161, 141);
$dark_red: rgb(63, 63, 63);
$dark_gray: darkgray;
$darker_gray: #868e96;
$pink: #bd2130;
$blue: #0062cc;
$orange: #f5b339;
$satisfy: 'Satisfy', cursive;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
