body {
  padding: 0;
  margin: 0;
  background: url('../img/bg.fw.png');
}

section {
  margin-top: 50px;
}

section:last-of-type {
  margin-bottom: 50px;
}

a {
  color: black;
}

.card .custom-bg {
  background: rgb(141, 161, 141);
  color: white;
  text-shadow: 0 1px 1px black;
}

.card-body span {
  padding: 5px;
}

a:hover {
  color: rgb(141, 161, 141);
  text-decoration: none;
}

.container-fluid,
.row {
  margin: 0;
  padding: 0;
}

.nav-link {
  /* padding: 1em !important; */
}

.fixed {
  margin-bottom: 100px;
}

.navbar {
  /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.315); */
  font-weight: bold;
}

.navbar-brand {
  font-family: 'Satisfy', cursive;
  text-shadow: none;
  font-weight: bolder;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
}

.header {
  margin: 0;
  min-height: auto;
  max-width: 100%;
  color: white;
  background: 
  /* top, transparent red */ 
  linear-gradient(90deg,
    rgba(241, 193, 89, 0.45), 
    rgba(241, 193, 89, 0.5),
    rgba(241, 193, 89, 0.6),
    rgba(241, 193, 89, 0.7),
    rgba(241, 193, 89, 0.8),
    rgba(241, 193, 89, 0.9),
    rgba(241, 193, 89, 1)
  ),
  /* bottom, image */
  url('../img/Food.jpg') no-repeat center center ;
  background-size: cover;
 }
  
.form-items {
  border-radius: 10px;
  background: white;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.315);
}

.bg-navbar {
  background: 
  /* top, transparent red */ 
  linear-gradient(90deg,
  rgba(241, 193, 89, 0.45), 
  rgba(241, 193, 89, 0.5),
  rgba(241, 193, 89, 0.6),
  rgba(241, 193, 89, 0.7),
  rgba(241, 193, 89, 0.8),
  rgba(241, 193, 89, 0.9),
  rgba(241, 193, 89, 1)
),
/* bottom, image */
url('../img/Food.jpg') no-repeat center center ;
background-size: cover;
}

.header .header-items {
  margin-top: 50px;
  padding-bottom: 10px;
}

.header h4 {
  font-size: 30px;
  font-weight: bolder;
}

.btn {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.315);
  -webkit-transition: 500ms ease-in-out;
  -moz-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.btn:hover {
  box-shadow: none;
}

.searchBar {
  margin-top: 50px;
}

input[type="search"] {
  height: 50px;
  width: 100%;
  border: none;
  font-style: italic;
  padding: 20px;
  color: rgb(63, 63, 63);
  text-align: left;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.39);
  margin-top: 0px;
  -webkit-transition: 400ms ease-in-out;
  -moz-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

input[type="search"]:hover, input[type="search"]:focus  {
  box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.315);
  background: white;
}

input[type="search"]:focus {
  box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.315);
  outline: none;
}

.title {
  text-transform: uppercase;
  margin: 10px 0;
}

.title h6 {
  font-size: 9px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.title .more {
  padding-top: 10px;
  padding-right: 10px;
}

.box {
  height: auto;
  max-width: 200px;
  margin-left: 10px;
  box-sizing: border-box;
  -webkit-transition: 400ms ease-in-out;
  -moz-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

.box:hover {
  box-shadow: 0px 15px 10px -10px #0e0e0e;
}

.box a,
.title a {
  color: black;
  font-weight: bold;
  -webkit-transition: 400ms ease-in;
  -moz-transition: 400ms ease-in;
  transition: 400ms ease-in;
}

.title a:hover {
  color: rgb(105, 228, 160);
  text-decoration: none;
  padding: 3px;
}

.box a:hover {
  color: rgb(105, 228, 160);
  text-decoration: none;
}

.box img {
  max-height: 400px;
  max-width: 440px;
}

.box p {
  /* background: #b3bead77; */
  font-weight: bold;
  border-bottom: 1px solid darkgray;
}

.box .reactions,
.box a {
  font-size: 9px;
}

.box .reactions span {
  margin-right: 5px;
  /* text-shadow: 0 1px 1px black; */
}

footer {
  background: rgb(236, 236, 236);
}

.footer-items {
  border-bottom: 1px solid rgb(207, 207, 207);
  height: auto;
  margin: 10px 0;
}

.footer-social a {
  text-decoration: none;
  text-align: center;
  color: darkgray;
}

.profile {
  margin-top: 50px;
}

.recipe-title {
  margin-top: 20px;
}


/* .catalog {
    min-height: 450px;
} */

.catalog h6 {
  margin-top: 50px;
}

.card-body {
  position: relative;
}

.card-body .tag {
  position: absolute;
  top: -25px;
  right: 0;
  padding: 5px;
  font-size: 12px;
  border-radius: 15px 0 0 15px;
  background: rgb(141, 161, 141);
  color: white;
  -webkit-transition: 400ms ease-in;
  -moz-transition: 400ms ease-in;
  transition: 400ms ease-in;
  box-shadow: 0 2px 2px #0e0e0e98;
}

.card-body .tag:hover,
.card-body .tag:focus {
  box-shadow: none;
}

.add-new-item {
  background: rgb(240, 237, 237);
  padding: 10px 0;
}

.direction {
  background: rgb(235, 235, 235);
  padding: 10px;
}

.card-columns .card {
  -webkit-transition: 400ms ease-in;
  -moz-transition: 400ms ease-in;
  transition: 400ms ease-in;
}

.card-columns span {
  color: #868e96;
  text-align: center !important;
}


/* .recipe-image {
    max-height: 400px;
} */

#favorite,
#like,
#dislike {
  cursor: pointer;
}

#favorite:hover,
#like:hover,
#dislike:hover{
  text-shadow: 0px 2px 2px #0e0e0e98;
}
.red {
  color: #bd2130;
}

.blue {
  color: #0062cc;
}

.social-icons span {
  font-size: 11px;
}

.discover{
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  padding: 5px;
  color: white;
  background: white;
  z-index: 2000;
}
.description{
  opacity: 0.0000000001;
  position: absolute;
  height: 100%;
  top: 0;
  padding: 5px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}


.description:hover{
  /* opacity: 1; */
}

/* .reaction-snippet {
    background: lightgray;
} */

.recipe-item-section{
  background: rgba(255, 255, 255, 1);
  padding: 20px 0; 
  border-radius: 20px;
  box-shadow: 0 6px 10px #0e0e0e3d;
}
.recipe-item-section:last-of-type{
  /* border-top: 1px solid rgb(114, 114, 114); */
}
.card-link{
  position: relative;
  padding: 5px;
}
.card-link em{
  color: white;
  font-style: normal;
  background: rgb(112, 5, 5);
  padding: 1px 5px;
  font-size: 9px;
  border-radius: 20%;
  position: absolute;
  top: 11px;
  left: -7px;
  z-index: 1;
}

#floating-icon {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 2000; 
  border: none; 
  outline: none; 
  color: white; 
  cursor: pointer; 
}
#floating-edit {
  display: block; 
  position: fixed; 
  bottom: 80px; 
  right: 30px; 
  z-index: 2000; 
  border: none; 
  outline: none; 
  color: white; 
  cursor: pointer; 
}

#floating-delete {
  display: block; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 2000; 
  border: none; 
  outline: none; 
  color: white; 
  cursor: pointer; 
}

.text-shadowed{
  text-shadow: 0 2px 2px black;
}
@media screen and (max-width: 990px) {
  #catalog {
    margin-top: 150px;
  }
  .catalog h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 1300px) and (min-width: 990px) {
  .col-lg-9 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}