<html lang="en">
    
    <head>
      <title>More Recipe</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
      <link rel="stylesheet" href="css/bootstrap.css">
      <link rel="stylesheet" href="css/font-awesome.min.css">
      <link rel="stylesheet" href="slick/slick.css">
      <link rel="stylesheet" href="slick/slick-theme.css">
      <link rel="stylesheet" href="css/jquery-editable-select.css">      
      <link href="css/style.css" rel="stylesheet">
    </head>
    
    <body>
    
    
      <section class="container-fluid ">
        <div class="header">
          <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
              <a class="navbar-brand" href="index.html">
                More Recipes
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="catalog.html">Catalog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="fav.html">Favorites
                    </a>
                  </li>
    
                  <li class="nav-item dropdown float-right">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="profile.html">Profile</a>
                      <a class="dropdown-item" href="signin.html">Sign in</a>
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
    
          </div>
          <div class="row header-items justify-content-center">
            <div class="col-lg-6 col-sm-10 text-center">
              <p class="lead text-shadowed">
                Yay! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus excepturi cum qui, nihil porro temporibus voluptatum corrupti ipsam vel, unde modi blanditiis repudiandae perferendis reiciendis praesentium esse. Quos, et error.
              </p>
            </div>
          </div>
        </div>
      </section>
    
      <section class="container ">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-12 form-items p-5">
              <form id="signin">
                <div class="form-row">
                  <div class="form-group col-12">
                    <label for="inputRecipe" class="col-form-label">Recipe Name</label>
                    <input type="email" class="form-control" id="inputRecipe" placeholder="Name of recipe">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="inputPassword4" class="col-form-label">Ingredients
                        </label>
                    <input type="password" class="form-control mb-2" id="inputPassword4" placeholder="item">
                    <input type="password" class="form-control mb-2" id="inputPassword4" placeholder="item">
                    <input type="password" class="form-control mb-2" id="inputPassword4" placeholder="item">
                    <input type="password" class="form-control mb-2" id="inputPassword4" placeholder="item">
                    <button class="btn btn-dark btn-block mb-0">Add more items
                    </button>
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="FormControlTextarea">Direction</label>
                      <textarea class="form-control" placeholder="how to make it happen" id="FormControlTextarea" rows="4"></textarea>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="FormControlTextarea">Description</label>
                      <textarea class="form-control" placeholder="Tell us about the food" id="FormControlTextarea" rows="4"></textarea>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCountryOfResidence" class="col-form-label">Category</label>
                      <select class="form-control custom-select" id="editable-select">
                        <option value="vegetarian">Vegetarian</option>
                        <option value="others">Add yours</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="file" class="col-form-label">Upload Image</label>
                      <label class="custom-file">
                        <input type="file" id="file" class="custom-file-input">
                        <span class="custom-file-control"></span>
                      </label>
                    </div>
                  </div>
                <button type="submit" class="btn btn-dark btn-block">Add New Recipe</button>
              </form>
            </div>
          </div>
        </section>
    
      <footer class="container-fluid">
        <div class="container ">
          <div class="row">
            <div class="col-12 footer-items">
              <p class="text-center copy">&copy;2017 All rights reserved</p>
            </div>
            <div class="col-12 footer-social text-center">
              <a href="#">
                <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
              </a>
              <a href="#">
                <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </footer>
      <script src="js/jquery-3.2.1.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="slick/slick.min.js"></script>
      <script src="js/jquery-editable-select.js"></script>
      <script src="js/script.js"></script>
    </body>
    
    </html>