<!DOCTYPE html>
<html lang="en">

<head>
  <title>More Recipe</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="slick/slick.css">
  <link rel="stylesheet" href="slick/slick-theme.css">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>


  <section class="container-fluid fixed">

    <div class="">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-navbar">
        <div class="container">
          <a class="navbar-brand mr-3" href="index.html">
            More Recipes
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <form class=" col-lg-9 col-md-12 col-sm-12 text-center p-0 m-0">
            <input type="search" name="search" placeholder="search for nice recipes">
          </form>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">

              <li class="nav-item active">
                <a class="nav-link" href="catalog.html">Catalog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="fav.html">Favorites
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggl" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="user.html">Profile</a>
                  <a class="dropdown-item" href="signin.html">Sign in</a>
                  <a class="dropdown-item" href="signup.html">Sign up</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>


    </div>

  </section>

  <section class="container">

    <div class="card-columns">
      <div class="card " id="poached">
        <div class="card-body p-0">
          <h4 class="card-title custom-bg p-2">Poached Egg over Spinach and Mushroom </h4>
          <div class="card-text">
            <h5 class="text-center">Ingredients</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                5 TBS low sodium chicken broth or vegetable broth
              </li>
              <li class="list-group-item">
                1/2 cup crimini mushrooms, sliced
              </li>
              <li class="list-group-item">
                1 bunch spinach
              </li>
              <li class="list-group-item">
                1 TBS Mediterranean Dressing
              </li>
              <li class="list-group-item">
                2 omega-3 rich eggs, poached
              </li>
            </ul>
          </div>
          <div class="card-text">
            <h5 class="text-center">Directions</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Heat broth in a 10-12 inch stainless steel skillet. Healthy Sauté mushrooms for 4 minutes over medium heat stirring frequently.
              </li>
              <li class="list-group-item">
                Add the spinach and stir for 1 minute.
              </li>
              <li class="list-group-item">
                Toss with Mediterranean Dressing and top with two poached eggs.
              </li>

            </ul>
          </div>

        </div>
        <div class="card-body">
          <span class="text-center float-left">
            <a href="#" class="card-link">
              <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
              <br>200</a>
          </span>
          <span class="text-center float-right">
            <a href="#" class="card-link float-right">
              <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
              <br>50</a>
          </span>
          <span class="text-center float-right">
            <a href="#" class="card-link float-right">
              <i class="fa fa-thumbs-o-down fa-2x" aria-hidden="true"></i>
              <br>23</a>
          </span>
        </div>
      </div>
      <div class="card ">
        <div class="card-body p-0">
          <h4 class="card-title custom-bg p-2">Poached Egg over Spinach and Mushroom </h4>
          <div class="card-text">
            <h5 class="text-center">Ingredients</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                5 TBS low sodium chicken broth or vegetable broth
              </li>
              <li class="list-group-item">
                1/2 cup crimini mushrooms, sliced
              </li>
              <li class="list-group-item">
                1 bunch spinach
              </li>
              <li class="list-group-item">
                1 TBS Mediterranean Dressing
              </li>
              <li class="list-group-item">
                2 omega-3 rich eggs, poached
              </li>
            </ul>
          </div>
          <div class="card-text">
            <h5 class="text-center">Directions</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Heat broth in a 10-12 inch stainless steel skillet. Healthy Sauté mushrooms for 4 minutes over medium heat stirring frequently.
              </li>
              <li class="list-group-item">
                Add the spinach and stir for 1 minute.
              </li>
              <li class="list-group-item">
                Toss with Mediterranean Dressing and top with two poached eggs.
              </li>

            </ul>
          </div>
          <div class="card-body">
            <span class="text-center float-left">
              <a href="#" class="card-link">
                <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
                <br>200</a>
            </span>
            <span class="text-center float-right">
              <a href="#" class="card-link float-right">
                <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
                <br>50</a>
            </span>
            <span class="text-center float-right">
              <a href="#" class="card-link float-right">
                <i class="fa fa-thumbs-o-down fa-2x" aria-hidden="true"></i>
                <br>23</a>
            </span>
          </div>
        </div>

      </div>

      <div class="card " id="frittata">
        <div class="card-body p-0">
          <h4 class="card-title custom-bg p-2">Any Time Frittata</h4>
          <div class="card-text">
            <h5 class="text-center">Ingredients</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                2 whole eggs
              </li>
              <li class="list-group-item">
                4 egg whites
              </li>
              <li class="list-group-item">
                1 TBS chicken or vegetable broth
              </li>
              <li class="list-group-item">
                3 medium cloves garlic, pressed or finely chopped
              </li>
              <li class="list-group-item">
                2 cups thinly sliced zucchini
              </li>
              <li class="list-group-item">
                1/2 4 oz can diced green chili
              </li>
            </ul>
          </div>
          <div class="card-text">
            <h5 class="text-center">Directions</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Heat broth in a 10-12 inch stainless steel skillet. Healthy Sauté mushrooms for 4 minutes over medium heat stirring frequently.
              </li>
              <li class="list-group-item">
                Add the spinach and stir for 1 minute.
              </li>
              <li class="list-group-item">
                Toss with Mediterranean Dressing and top with two poached eggs.
              </li>

            </ul>
          </div>

        </div>

        <div class="card-body">
          <span class="text-center float-left">
            <a href="#" class="card-link">
              <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
              <br>200</a>
          </span>
          <span class="text-center float-right">
            <a href="#" class="card-link float-right">
              <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
              <br>50</a>
          </span>
          <span class="text-center float-right">
            <a href="#" class="card-link float-right">
              <i class="fa fa-thumbs-o-down fa-2x" aria-hidden="true"></i>
              <br>23</a>
          </span>
        </div>
      </div>
      <div class="card " id="sunflower">
        <div class="card-body p-0">
          <h4 class="card-title custom-bg p-2">Poached Egg over Spinach topped with sunflower seeds </h4>
          <div class="card-text">
            <h5 class="text-center">Ingredients</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                5 TBS low sodium chicken broth or vegetable broth
              </li>
              <li class="list-group-item">
                1/2 cup crimini mushrooms, sliced
              </li>

            </ul>
          </div>
          <div class="card-text">
            <h5 class="text-center">Directions</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Heat broth in a 10-12 inch stainless steel skillet. Healthy Sauté mushrooms for 4 minutes over medium heat stirring frequently.
              </li>


            </ul>
          </div>

        </div>
        <div class="card-body">
          <span class="text-center float-left">
            <a href="#" class="card-link">
              <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
              <br>200</a>
          </span>
          <span class="text-center float-right">
            <a href="#" class="card-link float-right">
              <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
              <br>50</a>
          </span>
          <span class="text-center float-right">
            <a href="#" class="card-link float-right">
              <i class="fa fa-thumbs-o-down fa-2x" aria-hidden="true"></i>
              <br>23</a>
          </span>
        </div>
      </div>


      <div class="card ">
        <div class="card-body p-0">
          <h4 class="card-title custom-bg p-2">Poached Egg over Mediterranean Kale </h4>
          <div class="card-text">
            <h5 class="text-center">Ingredients</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                5 TBS low sodium chicken broth or vegetable broth
              </li>

              </li>
              <li class="list-group-item">
                2 omega-3 rich eggs, poached
              </li>
            </ul>
          </div>
          <div class="card-text">
            <h5 class="text-center">Directions</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Heat broth in a 10-12 inch stainless steel skillet. Healthy Sauté mushrooms for 4 minutes over medium heat stirring frequently.
              </li>
              <li class="list-group-item">
                Add the spinach and stir for 1 minute.
              </li>
              <li class="list-group-item">
                Toss with Mediterranean Dressing and top with two poached eggs.
              </li>

            </ul>
          </div>

        </div>
        <div class="card-body">
          <span class="text-center float-left">
            <a href="#" class="card-link">
              <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
              <br>200</a>
          </span>
          <span class="text-center float-right">
            <a href="#" class="card-link float-right">
              <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
              <br>50</a>
          </span>
          <span class="text-center float-right">
            <a href="#" class="card-link float-right">
              <i class="fa fa-thumbs-o-down fa-2x" aria-hidden="true"></i>
              <br>23</a>
          </span>
        </div>
      </div>
      <div class="card " id="demo">
        <div class="card-body p-0">
          <h4 class="card-title custom-bg p-2">Cassava Flakes with fried nuts </h4>
          <div class="card-text">
            <h5 class="text-center">Ingredients</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                fine white cassava flakes
              </li>
              <li class="list-group-item">
                3 cubes of granulated sugar
              </li>
              <li class="list-group-item">
                2 cups of skimmed milk
              </li>
              <li class="list-group-item">
                5g of peeled grandnuts
              </li>
              <li class="list-group-item">
                cold distilled water
              </li>
            </ul>
          </div>
          <div class="card-text">
            <h5 class="text-center">Directions</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Mix sugar, nuts and milk with the cassava flakes
              </li>
              <li class="list-group-item">
                Add water and stir
              </li>


            </ul>
          </div>

        </div>
        <div class="card-body">
          <span class="text-center float-left">
            <a href="#" class="card-link">
              <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
              <br>200</a>
          </span>
          <span class="text-center float-right">
            <a href="#" class="card-link float-right">
              <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
              <br>50</a>
          </span>
          <span class="text-center float-right">
            <a href="#" class="card-link float-right">
              <i class="fa fa-thumbs-o-down fa-2x" aria-hidden="true"></i>
              <br>23</a>
          </span>
        </div>
      </div>
      <div class="card ">
        <div class="card-body p-0">
          <h4 class="card-title custom-bg p-2">Poached Egg over Spinach and Mushroom </h4>
          <div class="card-text">
            <h5 class="text-center">Ingredients</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                5 TBS low sodium chicken broth or vegetable broth
              </li>
              <li class="list-group-item">
                1/2 cup crimini mushrooms, sliced
              </li>
              <li class="list-group-item">
                1 bunch spinach
              </li>
              <li class="list-group-item">
                1 TBS Mediterranean Dressing
              </li>
              <li class="list-group-item">
                2 omega-3 rich eggs, poached
              </li>
            </ul>
          </div>
          <div class="card-text">
            <h5 class="text-center">Directions</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Heat broth in a 10-12 inch stainless steel skillet. Healthy Sauté mushrooms for 4 minutes over medium heat stirring frequently.
              </li>
              <li class="list-group-item">
                Add the spinach and stir for 1 minute.
              </li>
              <li class="list-group-item">
                Toss with Mediterranean Dressing and top with two poached eggs.
              </li>

            </ul>
          </div>

        </div>
        <div class="card-body">
          <span class="text-center float-left">
            <a href="#" class="card-link">
              <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
              <br>200</a>
          </span>
          <span class="text-center float-right">
            <a href="#" class="card-link float-right">
              <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
              <br>50</a>
          </span>
          <span class="text-center float-right">
            <a href="#" class="card-link float-right">
              <i class="fa fa-thumbs-o-down fa-2x" aria-hidden="true"></i>
              <br>23</a>
          </span>
        </div>
      </div>








    </div>

  </section>



  <footer class="container-fluid">
    <div class="container ">
      <div class="row">
        <div class="col-12 footer-items">
          <p class="text-center">&copy;2017 All rights reserved</p>
        </div>
        <div class="col-12 footer-social text-center">
          <a href="#">
            <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
          </a>
          <a href="#">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="slick/slick.min.js"></script>
  <script src="js/script.js"></script>
</body>

</html>