body {
    padding: 0;
    margin: 0;
    background: url('../img/bgp.jpg') center center;
}

@media screen and (max-width: 990px) {
    #catalog {
        margin-top: 150px;
    }
    .catalog h4 {
        font-size: 14px;
    }
    input[type="search"] {
        height: 10px !important;
        width: 100%;
    }
}

@media screen and (max-width: 1300px) and (min-width: 990px) {
    .col-lg-9 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}