.animate-it {
  -webkit-transition: ease-in 1000ms;
  -moz-transition: ease-in 1000ms;
  transition: ease-in 1000ms;
}

/* body {
  padding: 0;
  margin: 0;
  background: url('https://res.cloudinary.com/emasys/image/upload/v1514493161/bgp.fw_cnwm3q.png') center center;
} */

/* .wide-dropdown a:hover {
  color: rgb(177, 114, 5);
  font-weight: 700;
} */

/* .category-image {
  width: 18rem;
  height: 18rem;
} */

/* #floating-edit:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
} */

/* .hvr-icon-spin:before {
  content: "\f040";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  transform: translateZ(0);
  transition-duration: 0.1s;
  transition-property: transform;
  transition-timing-function: ease-out;
} */

/* .new-ribbon {
  width: 100%;
  height: auto;
  padding: 10px;
} */

/* .signUp-btn {
  border-radius: 2rem;
  padding: .6rem 3rem !important;
} */

/* .categories {
  padding: 5px;
  color: orange;
  font-family: satisfy;
} */

/* .categories p {
  line-height: 2rem;
  font-size: 2rem;
  padding-top: 1rem;
} */

/* .categories:hover {
  background: black !important;
  color: orange !important;
} */

/* @media screen and (max-width: 380px) {
  .navbar-brand {
    visibility: hidden;
    text-indent: -9999px;
    line-height: 0;
  }
  .navbar-brand:after {
    content: 'MR';
    visibility: visible;
    display: block;
    text-indent: 0;
  }
} */

/* @media screen and (max-width: 990px) {
  #catalog {
    margin-top: 80px;
  }
  .catalog h4 {
    font-size: 14px;
  }
  input[type='search'] {
    height: 40px !important;
    padding: 5px !important;
    width: 100%;
  }
  .custom-fixed {
    top: -10px !important;
  }
} */

/* .custom-fixed {
  top: -5px;
} */

/* @media screen and (max-width: 575px) {
  #catalog {
    margin-top: 80px;
  }
  .col-sm-9 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .profile .col-sm-5 {
    -ms-flex: 0 0 50.666667%;
    flex: 0 0 50.666667%;
    max-width: 50.666667%;
  }
} */


/* .fixed-top {
  margin-bottom: 0 !important;
} */

/* .header {
  margin: 0 !important;
  padding: 0;
} */

/* @media screen and (max-width: 500px) {
  .wide-dropdown {
    min-width: 100% !important;
  }
} */

/* @media screen and (min-width: 1444px) {
  .catalog-wrapper {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 150rem !important;
  }
  .banner {
    margin-left: auto;
    margin-right: auto;
    max-width: 120rem;
  }
} */

/* @media screen and (max-width: 1300px) and (min-width: 990px) {
  .col-lg-9 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
} */

/* .wrapper {
  height: auto;
  width: 700px;
  margin: 50px auto;
  -webkit-box-shadow: 0px 0px 13px 1px rgba(228, 235, 231, 1);
  -moz-box-shadow: 0px 0px 13px 1px rgba(228, 235, 231, 1);
  box-shadow: 0px 0px 13px 1px rgba(228, 235, 231, 1);
}

.headers {
  height: 300px;
  width: 100%;
  background-color: #036868;
  padding: 50px 10px;
}

.headers p {
  margin: 30px 20px;
} */

/* .form {
  margin: 10px auto;
  max-width: 550px;
  padding: 20px 12px 10px 20px;
}

.form li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}

.form label {
  margin: 20px 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: 600;
  color: #353333;
}

.form input[type='text'],
.form input[type='date'],
.form input[type='datetime'],
.form input[type='number'],
.form input[type='search'],
.form input[type='time'],
.form input[type='url'],
.form input[type='password'],
.form input[type='email'],
textarea,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid lightgray;
  padding: 12px;
  margin: 0px;
  border-radius: 10px;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}

.form input[type='text']:focus,
.form input[type='date']:focus,
.form input[type='datetime']:focus,
.form input[type='number']:focus,
.form input[type='search']:focus,
.form input[type='time']:focus,
.form input[type='password']:focus,
.form input[type='url']:focus,
.form input[type='email']:focus,
textarea:focus,
select:focus {
  border: 1px solid rgb(216, 183, 73);
}

.form .special {
  margin: 10px 0 0 0;
  padding: 0;
}

.footer-links .nav-item .nav-link a {
  font-family: Arial, Helvetica, sans-serif;
}

.form .mesh {
  display: inline;
  border: 1px solid red;
  padding: 13px;
}

.form .special select {
  /* border: 1px solid lightgray; */
  /* padding: 11px;
  background: transparent;
  margin: 0px;
  font-size: 16px; */
  /* width: 20%; */
/* } */


/* .form .special select:focus {
    border: 1px solid #6AAD4B;
} */

/* .form .special input[type='text'] {
  padding: 12px;
  border-right: 1px solid lightgray;
  border-left: 0;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  margin: 0 !important;
  font-size: 16px;
}

.form .special input[type='text']:focus {
  padding: 12px;
  border: 1px solid #6aad4b;
  margin: 0 !important;
  font-size: 16px;
}

.form input[type='submit'],
.form input[type='button'] {
  background: #6aad4b;
  padding: 12px;
  border: none;
  color: #fff;
  width: 100%;
  margin-top: 50px;
  font-size: 16px;
}

.form input[type='submit']:hover,
.form input[type='button']:hover {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.form .required {
  color: red;
}

.AuthInfo {
  background: linear-gradient(180deg, rgba(3, 8, 14, 0.9), rgba(3, 8, 14, 0.89), rgba(3, 8, 14, 0.8), rgba(3, 8, 14, 0.79)), url('https://res.cloudinary.com/emasys/image/upload/v1516437747/bgfood_kzyzut.jpg') no-repeat center center;
  background-size: cover;
  border-radius: 8px 8px 0 0;
}  */
/* .form input[type='submit'],
.form input[type='button'] {
  padding: 12px;
  border: none;
  color: #fff;
  width: 100%;
  margin-top: 50px;
  font-size: 16px;
}
.form input[type='submit']:hover,
.form input[type='button']:hover {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
} */