@import './base/settings';
@import './base/base';
$color_1: rgb(15, 12, 1);
$color_2: white;
$color_3: rgb(141, 161, 141);
$color_4: rgb(63, 63, 63);
$color_5: rgb(105, 228, 160);
$color_6: darkgray;
$color_7: #868e96;
$color_8: #bd2130;
$color_9: #0062cc;
$font_family_1: 'Satisfy', cursive;
section {
  margin-top: 50px;
  &:last-of-type {
    margin-bottom: 50px;
  }
}

a {
  color: $color_1;
  &:hover {
    color: black;
    text-decoration: none;
  }
}
.animate-catalog{
  max-width: 300px;
}
.nav-item{
  color: blue !important;
}
.grayOut {
  color: rgb(241, 25, 25) !important;
}

.avi{
  min-width: 100px;
}

.wide-dropdown{
  min-width: 500px;
}
.custom-dropdown {
  // min-width:220px;
  // padding:15px;
  // right: 100px;
  font-size: 12px;
  box-sizing: border-box;
  overflow: hidden;
  .dropdown-header {
  font-size: 13px;
  }
  
}
.hovered {
  cursor: pointer;
}
.img-wrapper{
  position: relative;
}
.changeDp {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.card {
  .custom-bg {
    background: rgb(141, 161, 141);
    color: $color_2;
    height: auto;
    text-shadow: 0 1px 1px black;
  }
}
.recipeImage{
  width: 100%;
}
.card-body {
  span {
    padding: 5px;
  }
  position: relative;
  .tag {
    position: absolute;
    top: -25px;
    right: -5px;
    padding: 5px;
    font-size: 12px;
    border-radius: 15px 0 0 15px;
    color: $color_2;
    -webkit-transition: 400ms ease-in;
    -moz-transition: 400ms ease-in;
    transition: 400ms ease-in;
    box-shadow: 0 2px 2px black;
    &:hover {
      box-shadow: none;
    }
    &:focus {
      box-shadow: none;
    }
  }
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

.fixed {
  margin-bottom: 80px;
}

.navbar {
  font-weight: bold;
}

.navbar-brand {
  font-family: $font_family_1;
  text-shadow: none;
  font-size: 16px;
}

.navbar-toggler {
  border: none;
  &:focus {
    outline: none;
  }
}

.text-orange {
  color:  #f5b339 !important;
}
// background: linear-gradient(90deg, rgba(241, 193, 89, 0.45), rgba(241, 193, 89, 0.5), rgba(241, 193, 89, 0.6), rgba(241, 193, 89, 0.7), rgba(241, 193, 89, 0.8)), 
// url('https://res.cloudinary.com/emasys/image/upload/v1514976360/2017-Logomaker-Background-Image_Woman_wl6l2p.jpg') no-repeat center center;
.signin-form{
  padding: 0 50px;
}
.header {
  margin: 0;
  background:linear-gradient(180deg, rgb(19, 13, 1), rgba(37, 26, 2, 0.45), rgba(39, 27, 2, 0.5)),
  url('https://res.cloudinary.com/emasys/image/upload/v1514478637/Food_r9r19a.jpg') no-repeat center center;
  background-size: cover;
  padding-top: 50px;
  min-height: 450px;
  max-width: 100%;
  // color: $color_2;
  color: white;
  .header-items {
    margin-top: 50px;
    padding-bottom: 10px;
  }
  h4 {
    font-size: 30px;
    font-weight: bolder;
  }
}
.home-title{
  font-size: 7rem;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 300;
  .firstWord {
    font-weight: 700;
  }
}
.comment-wrapper{
  position: relative;
}
.commentTitle{
  color: white !important;
  border-radius: 5px;
  padding: 5px 10px;
}
.comments{
  
}

.date{
  position: absolute;
  color: white;
  border-radius: 10px;
  padding: 3px 5px;
  height: 15px;
  line-height: 11px;
  bottom: -5px;
  left: 5%;
  font-size: 11px;
  box-sizing: border-box;

}
.bg-orange {
  background: rgb(238, 171, 26);
}

.bolden {
  font-style: bolder;
}

.form-items {
  border-radius: 10px;
  background: white;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.315);
}

// .bg-navbar {
//     background: linear-gradient(90deg, rgba(241, 193, 89, 0.45), rgba(241, 193, 89, 0.5), rgba(241, 193, 89, 0.6), rgba(241, 193, 89, 0.7), rgba(241, 193, 89, 0.8), rgba(241, 193, 89, 0.9), rgba(241, 193, 89, 1)),
//     url('../img/Food.jpg') no-repeat center center;
//     background-size: cover;
// }
.btn {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.315);
  -webkit-transition: 500ms ease-in-out;
  -moz-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  &:hover {
    box-shadow: none;
  }
}

.searchBar {
  margin-top: 50px;
}

.error-message {
  height: 600px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.category-bar{
  margin-top: 60px;
  margin-bottom: 0;
 
}
.custom-bg-color{
  background-color: rgb(240, 211, 157);
}
.custom-dropdown-menu{
  font-size: 16px;
}
input[type='search'] {
  height: 40px;
  width: 100%;
  border: thin solid rgb(245, 179, 57);
  font-style: italic;
  padding: 10px;
  font-size: 14px;
  color: $color_4;
  text-align: left;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.089);
  margin-top: 0px;
  -webkit-transition: 400ms ease-in-out;
  -moz-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
  &:hover {
    box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.315);
    background: white;
  }
  &:focus {
    box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.315);
    background: white;
    box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.315);
    outline: none;
  }
}

.alpha, .numbers, .characters, .minLength, .maxLength {
  color: #666666;
}
.title {
  text-transform: uppercase;
  margin: 10px 0;
  h6 {
    font-size: 9px;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  .more {
    padding-top: 10px;
    padding-right: 10px;
  }
  a {
    color: $color_1;
    font-weight: bold;
    -webkit-transition: 400ms ease-in;
    -moz-transition: 400ms ease-in;
    transition: 400ms ease-in;
    &:hover {
      color: black;
      text-decoration: none;
      padding: 3px;
    }
  }
}

.box {
  height: auto;
  max-width: 200px;
  margin-left: 10px;
  box-sizing: border-box;
  -webkit-transition: 400ms ease-in-out;
  -moz-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
  &:hover {
    box-shadow: 0px 15px 10px -10px #0e0e0e;
  }
  a {
    color: $color_1;
    font-weight: bold;
    -webkit-transition: 400ms ease-in;
    -moz-transition: 400ms ease-in;
    transition: 400ms ease-in;
    font-size: 9px;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
  img {
    max-height: 400px;
    max-width: 440px;
  }
  p {
    font-weight: bold;
    border-bottom: 1px solid darkgray;
  }
  .reactions {
    font-size: 9px;
    span {
      margin-right: 5px;
    }
  }
}

footer {
  background: rgb(236, 236, 236);
}

.footer-items {
  border-bottom: 1px solid rgb(207, 207, 207);
  height: auto;
  margin: 10px 0;
}

.footer-social {
  a {
    text-decoration: none;
    text-align: center;
    color: $color_6;
  }
}

.profile {
  margin-top: 50px;
}

.catalog-wrapper {
  background: rgba(255, 255, 255, 1);
  padding: 30px 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.205);
}
.category-wrapper {
  // background: linear-gradient(90deg, rgba(36, 25, 2, 0.8), rgba(36, 25, 2, 0.5), rgba(36, 25, 2, 0.85), rgba(241, 193, 89, 0.7), rgba(241, 193, 89, 0.8)), 
  // url('http://res.cloudinary.com/emasys/image/upload/v1514478637/Food_r9r19a.jpg') no-repeat center center;
  background-size: cover;
  background: #ffffff;
  padding: 30px 10px;
  // border-radius: 8px;
  margin-top: 0;
  text-align: center;
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.205); 
}
.recipe-title {
  margin-top: 20px;
}

.catalog {
  h6 {
    margin-top: 50px;
  }
}

.hvr-icon-buzz-out {
  &:before {
    content: '\f2bd';
  }
}

.add-new-item {
  background: rgb(240, 237, 237);
  padding: 10px 0;
}

.direction {
  box-sizing: border-box;
  overflow: hidden;
  // background: rgb(134, 133, 133);
  border-radius: 30px;
}

.card-columns {
  .card {
    -webkit-transition: 400ms ease-in;
    -moz-transition: 400ms ease-in;
    transition: 400ms ease-in;
  }
  span {
    color: $color_7;
    text-align: center !important;
  }
}

#favorite {
  cursor: pointer;
  &:hover {
    text-shadow: 0px 2px 2px black;
  }
}

.crop-text {
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  min-height: 70px;
  max-height: 70px;
}

.crop-text-title {
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 20px;
  // max-width: 22rem;
}

#like {
  cursor: pointer;
  &:hover {
    text-shadow: 0px 2px 2px black;
  }
}

#dislike {
  cursor: pointer;
  &:hover {
    text-shadow: 0px 2px 2px black;
  }
}

.red {
  color: $color_8;
  &:hover {
    color: red;
  }
}

.blue {
  color: $color_9;
}

.social-icons {
  span {
    font-size: 11px;
  }
  .fa {
    padding: 2px;
  }
}

.discover {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  padding: 5px;
  color: $color_2;
  background: white;
  z-index: 2000;
}

.description {
  opacity: 0.0000000001;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  padding: 5px;
  color: $color_2;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.recipe-item-section {
  background: rgba(255, 255, 255, 1);
  padding: 20px 0;
  border-radius: 20px;
  box-shadow: 0 6px 10px black;
}

.card-link {
  position: relative;
  padding: 5px;
  em {
    color: $color_2;
    font-style: normal;
    background: rgb(112, 5, 5);
    padding: 1px 5px;
    font-size: 9px;
    border-radius: 20%;
    position: absolute;
    top: 11px;
    left: -7px;
    z-index: 1;
  }
}

#floating-icon {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 2000;
  border: none;
  outline: none;
  color: $color_2;
  cursor: pointer;
}

#floating-edit {
  display: block;
  position: fixed;
  top: 80px;
  right: 30px;
  z-index: 2;
  border: none;
  outline: none;
  color: $color_2;
  cursor: pointer;
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
}

#floating-delete {
  display: block;
  position: fixed;
  top: 120px;
  right: 30px;
  z-index: 2;
  border: none;
  outline: none;
  color: $color_2;
  cursor: pointer;
}


.img-box {
  height: 180px;
  max-width: 100%;
}

.dropzone {
  height: 200px;
  max-height: 200px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

// .profile-wrapper {
//   position: relative;
// }
// .editProfile{
//   position: absolute;
//   // background: rgba(0, 0, 0, 0.623);
//   top: 60%;
//   left: 90%;
//   display: block;
//   width: 100%;
  
// }
.dropzone-dp {
  // height: 100%;
  background: rgba(0, 0, 0, 0.623);
  max-height: 200px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.error-border{
  border-color: red !important;
}
.img-icon {
  margin-top: 3px;
  width: 30px;
  height: 30px;
}

.gray {
  color: gray;
}

.footer-main {
  height: 300px;
  a {
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
}

.header-title {
  font-family: 'Pacifico', cursive;
  font-weight: 900;
  font-size: 24px;
}

.cover-page {
  height: 100%;
}

.profile-img-box {
  background: center center no-repeat;
  background-size: cover;
  height: 130px;
  width: 100%;
}

.text-shadowed {
  text-shadow: 0 2px 2px black;
  font: bolder;
}

.fresh-title {
  text-shadow: 1px 1px 1px white, 1px 2px 2px black;
  font-style: 900px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; // font-size: 28px
}


.fade-appear {
  opacity: 0.01;
}
.fade-appear.fade-appear-active {
	opacity: 1;
	transition: opacity .5s ease-in;
}
.fade-enter {
	opacity: 0.01;
}
.fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}
.fade-leave {
	opacity: 1;
}
.fade-leave.fade-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in;
}
