@import './base/settings';
@import './base/base';

// Header Section in Home Page
.header {
  margin: 0;
  background: linear-gradient(180deg, rgba(19, 13, 1, 0.705), rgba(37, 26, 2, 0.45), rgba(39, 27, 2, 0.5)), url('https://res.cloudinary.com/emasys/image/upload/c_scale,e_blur:261,h_346,q_59/v1514478637/Food_r9r19a.jpg') no-repeat center center;
  background-size: cover;
  padding-top: 50px;
  min-height: 450px;
  max-width: 100%;
  color: $white;
  .header-items {
    margin-top: 50px;
    padding-bottom: 10px;
  }
  h4 {
    font-size: 30px;
    font-weight: bolder;
  }
}







// Main Navigation bar
.nav-item {
  color: blue !important;
}

// Category Navigation bar
.wide-dropdown {
  min-width: 500px;
}
.custom-dropdown {
  font-size: 12px;
  box-sizing: border-box;
  overflow: hidden;
  .dropdown-header {
    font-size: 13px;
  }
}

// Utils
.grayOut {
  color: rgb(241, 25, 25) !important;
}
.wrapIt {
  // max-width: 19rem; 
  overflow-wrap: break-word
}
.animate-catalog {
  max-width: 300px;
}
.shadowed {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.btn-sign {
  background: $orange !important;
  color: $white !important;
  border-color: $orange !important;
  border-radius: 2rem;
  padding: .6rem 3rem !important;
  &:hover {
    background: transparent !important;
  }
}



// user avatar
.avi {
  min-width: 100px;
}



.hovered {
  cursor: pointer;
}

.img-wrapper {
  position: relative;
}

.changeDp {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.card {
  max-width: 30rem;
  .custom-bg {
    background: rgb(141, 161, 141);
    color: $white;
    height: auto;
    text-shadow: 0 1px 1px black;
  }
}

// Recipe item page styles
.recipeImage {
  width: 100%;
  max-width: 52rem;
  max-height: 50rem;
}




// recipe Card
.card-body {
  span {
    padding: 5px;
  }
  position: relative;
  box-sizing: border-box;
  overflow-wrap: break-word;
  .tag {
    position: absolute;
    top: -25px;
    z-index: 8;
    right: -5px;
    padding: 5px;
    font-size: 12px;
    border-radius: 15px 0 0 15px;
    color: $white;
    -webkit-transition: 400ms ease-in;
    -moz-transition: 400ms ease-in;
    transition: 400ms ease-in;
    box-shadow: 0 2px 2px $black;
    &:hover {
      box-shadow: none;
    }
    &:focus {
      box-shadow: none;
    }
  }
}



.fixed {
  margin-bottom: 80px;
}

.navbar {
  font-weight: bold;
}

.navbar-brand {
  font-family: $satisfy;
  text-shadow: none;
  font-size: 16px;
}

.navbar-toggler {
  border: none;
  &:focus {
    outline: none;
  }
}

.text-orange {
  color: #f5b339 !important;
}

.signin-form {
  padding: 0 50px;
}

.home-title {
  font-size: 6rem;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 300;
  .firstWord {
    font-weight: 700;
  }
}

.reaction-pane {
  position: relative;
  i {
    font-size: 3rem;
  }
  em {
    background: gray;
  }
}

.labels {
  line-height: 3rem;
  a {
    vertical-align: top; // background: gray;
    // padding: .7rem;
    // box-shadow: 2px 2px 2px 2px gray;
  }
}

.comment-wrapper {
  position: relative;
}

.commentTitle {
  color: white !important;
  border-radius: 5px;
}

.date {
  // position: absolute;
  // display: block;
  color: white;
  border-radius: 10px;
  // height: 15px;
  line-height: 1rem; // bottom: -5px;
  // left: 5%;
  font-size: 1rem;
  box-sizing: border-box;
}

.bg-orange {
  background: rgb(238, 171, 26);
}

.bolden {
  font-style: bolder;
}

.form-items {
  border-radius: 10px;
  background: white;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.315);
}

.btn {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.315);
  -webkit-transition: 500ms ease-in-out;
  -moz-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  &:hover {
    box-shadow: none;
  }
}

.searchBar {
  margin-top: 50px;
}

.error-message {
  height: 400px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.category-bar {
  margin-top: 60px;
  margin-bottom: 0;
}

.custom-bg-color {
  background-color: rgb(240, 211, 157);
}

.custom-dropdown-menu {
  font-size: 16px;
}

.delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2001;
}

.delete-review-btn {
  position: absolute;
  bottom: 0;
  right: 1rem;
  color: rgba(0, 0, 0, 0.411);
  top: 1rem;
  z-index: 2001;
}

input[type='search'] {
  height: 40px;
  width: 100%;
  border: thin solid rgba(245, 173, 57, 0.116);
  font-style: italic;
  padding: 10px;
  font-size: 14px;
  color: $dark_red;
  text-align: left;
  border-radius: 3rem;
  background: rgba(255, 255, 255, 0.089);
  margin-top: 0px;
  -webkit-transition: 400ms ease-in-out;
  -moz-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
  &:hover {
    box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.315);
    background: white;
  }
  &:focus {
    box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.315);
    background: white;
    box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.315);
    outline: none;
  }
}

.alpha,
.numbers,
.characters,
.minLength,
.maxLength {
  color: #666666;
}

.title {
  text-transform: uppercase;
  margin: 10px 0;
  h6 {
    font-size: 9px;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  .more {
    padding-top: 10px;
    padding-right: 10px;
  }
  a {
    color: $black;
    font-weight: bold;
    -webkit-transition: 400ms ease-in;
    -moz-transition: 400ms ease-in;
    transition: 400ms ease-in;
    &:hover {
      color: black;
      text-decoration: none;
      padding: 3px;
    }
  }
}

.box {
  height: auto;
  max-width: 200px;
  margin-left: 10px;
  box-sizing: border-box;
  -webkit-transition: 400ms ease-in-out;
  -moz-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
  &:hover {
    box-shadow: 0px 15px 10px -10px #0e0e0e;
  }
  a {
    color: $black;
    font-weight: bold;
    -webkit-transition: 400ms ease-in;
    -moz-transition: 400ms ease-in;
    transition: 400ms ease-in;
    font-size: 9px;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
  img {
    max-height: 400px;
    max-width: 440px;
  }
  p {
    font-weight: bold;
    border-bottom: 1px solid darkgray;
  }
  .reactions {
    font-size: 9px;
    span {
      margin-right: 5px;
    }
  }
}

footer {
  background: rgb(236, 236, 236);
}

.footer-items {
  border-bottom: 1px solid rgb(207, 207, 207);
  height: auto;
  margin: 10px 0;
}

.footer-social {
  a {
    text-decoration: none;
    text-align: center;
    color: $dark_gray;
  }
}

.rubics {
  display: none;
}

.profile {
  margin-top: 50px;
}

.catalog-wrapper {
  background: rgba(255, 255, 255, 1);
  padding: 3rem 1rem;
  border-radius: 8px;
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.205);
  -webkit-transition: ease-in 600ms;
  -moz-transition: ease-in 600ms;
  transition: ease-in 600ms;
}

.catalog-wrapper-full-grid{
  background: rgba(255, 255, 255, 1);
  padding: 3rem 1rem;
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.205);
  -webkit-transition: ease-in 600ms;
  -moz-transition: ease-in 600ms;
  transition: ease-in 600ms;
}

.category-wrapper {
  background-size: cover;
  background: #ffffff;
  padding: 30px 10px;
  margin-top: 0;
  text-align: center;
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.205);
}

.recipe-title {
  margin-top: 20px;
}

.catalog {
  h6 {
    margin-top: 50px;
  }
}

.hvr-icon-buzz-out {
  &:before {
    content: '\f2bd';
  }
}

.add-new-item {
  background: rgb(240, 237, 237);
  padding: 10px 0;
}

.direction {
  box-sizing: border-box;
  overflow-wrap: break-word; // background: rgb(134, 133, 133);
  border-radius: 30px;
}

.wrapWord {
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.card-columns {
  .card {
    -webkit-transition: 400ms ease-in;
    -moz-transition: 400ms ease-in;
    transition: 400ms ease-in;
  }
  span {
    color: $darker_gray;
    text-align: center !important;
  }
}

#favorite {
  cursor: pointer;
  &:hover {
    text-shadow: 0px 2px 2px black;
  }
}

.crop-text {
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  min-height: 5rem;
  max-height: 5rem;
}

.full-text {
  height: auto;
  min-height: 25rem;
}

.img-slide-up {
  position: relative;
}

.d-half {
  height: 5rem;
  overflow: hidden;
}

.crop-text-title {
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 20px; // max-width: 22rem;
}

.floatingDiv {
  position: absolute;
  width: 30rem;
  z-index: 800;
  &:after {
    position: absolute;
    content: "";
    top: 100rem;
  }
}

.floater {
  position: relative;
  width: 30rem;
}

#like {
  cursor: pointer;
  &:hover {
    text-shadow: 0px 2px 2px black;
  }
}

#dislike {
  cursor: pointer;
  &:hover {
    text-shadow: 0px 2px 2px black;
  }
}

.red {
  color: $pink;
  // color:red !important;
  &:hover {
    color: red;
  }
}

.blue {
  color: $blue;
}

.social-icons {
  span {
    font-size: 11px;
  }
  .fa {
    padding: 2px;
  }
}

.discover {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  padding: 5px;
  color: $white;
  background: white;
  z-index: 2000;
}

.description {
  // opacity: 0.0000000001;
  position: absolute;
  z-index: 2900 !important;
  height: 100%;
  width: 100%;
  top: 0;
  padding: 5px;
  color: $white;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  font-size: 1.5rem;
  transition: 2000ms ease-in;
  -webkit-transition: 2000ms ease-in;
  -moz-transition: 2000ms ease-in;
  -ms-transition: 2000ms ease-in;
  -o-transition: 2000ms ease-in;
  h2 {
    font-size: 1.2rem;
  }
}

.recipe-item-section {
  background: rgba(255, 255, 255, 1);
  padding: 20px 0;
  border-radius: 20px;
  box-shadow: 0 6px 10px black;
}

.card-link {
  position: relative;
  padding: 5px;
  em {
    color: #868e96;
    font-style: normal;
    background: transparent;
    padding-left: .4rem;
    font-size: 1.2rem;
    border-radius: 20%;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 3.5rem;
    bottom: 0;
    z-index: 1; // right: 0;
  }
}

#floating-icon {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 2000;
  border: none;
  outline: none;
  color: $white;
  cursor: pointer;
}

#floating-edit {
  display: block;
  position: fixed;
  top: 80px;
  right: 30px;
  z-index: 2;
  border: none;
  outline: none;
  color: $white;
  cursor: pointer;
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
}

#floating-delete {
  display: block;
  position: fixed;
  top: 120px;
  right: 30px;
  z-index: 2;
  border: none;
  outline: none;
  color: $white;
  cursor: pointer;
}

.img-box {
  height: 25rem;
  max-width: 100%;
}

.dropzone {
  height: 200px;
  max-height: 200px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.dropzone-dp {
  // height: 100%;
  background: rgba(0, 0, 0, 0.623);
  max-height: 200px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.error-border {
  border-color: red !important;
}

.img-icon-review {
  // margin-top: 3px;
  width: 30px;
  height: 30px;
  margin-top: .5rem;
}

.moniker{
  font-size: 1.2rem;
}

.img-icon {
  margin-top: 3px;
  width: 30px;
  height: 30px;
}

.gray {
  color: gray;
}

.footer-main {
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  // height: 100px;
  width: 100%;
  // background: #00A7FF;
  a {
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
}

.cover-page {
  height: 100%;
}

.profile-wrapper {
  overflow-wrap: break-word;
}

.profile-img-box {
  background: center center no-repeat;
  background-size: cover;
  height: 130px;
  width: 100%;
}

.text-shadowed {
  text-shadow: 0 2px 2px black;
  font: bolder;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.fresh-title {
  // text-shadow: .2rem .2rem .2rem $black;
  font-weight: 900;
  font-style: 900px;
  font-family: $satisfy;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.icon-eye path {
  width: 1rem;
  height: 1rem;
}

.bg-wheat {
  background: wheat !important;
}

.navbar {
  z-index: 1000 !important;
}